# Python First Class

This is first class of python

In [1]:
print("Hello PIAIC") #string both in single or double quote

Hello PIAIC

In [2]:
print(123) #wholenumber in short form it is known as int

123

In [4]:
print(12.3) #floating point or float value

12.3

In [5]:
print("hello",123,12.3)

hello 123 12.3

In [10]:
print("hello",123,12.3, sep = '=')

hello=123=12.3

In [1]:
print("Kashif")

Kashif

# Variables

In [1]:
name = 'iqra'
print (name)

iqra

In [3]:
name = 123
type(name)

int

In [4]:
name = True
print(name)

True

In [5]:
a1 = '123'
type(a1)

str

In [7]:
a = 2
b = 3
a+b

5

In [8]:
a-b

-1

In [9]:
a*b

6

In [10]:
a/b

0.6666666666666666

In [11]:
a // b

0

In [12]:
10 // 3  #floting division

3

In [14]:
10 / 3  #integer division

3.3333333333333335

In [15]:
c = 10
d = 3
c % d

1

In [20]:
c=10
c

10

In [18]:
c += 3
c

16

In [21]:
c *= 3
c

30

In [23]:
c //= 3
c

10

In [24]:
c /= 3
c

3.3333333333333335

In [26]:
(3+2)*2+5/2

12.5

In [27]:
3 ** 2

9

In [3]:
(3+2)* 2+ 5**2 /2

22.5

In [29]:
a > b

False

In [30]:
a < b

True

In [31]:
a <= b

True

In [32]:
a>=b

False

In [33]:
a!=b

True

In [34]:
a == b

False

# concatenation Text Strings

In [38]:
First_name = 'Hamza'
Last_name = 'Khan'
print(First_name+" "+Last_name)

Hamza Khan

In [39]:
len(First_name)

5

In [43]:
len(First_name +" "+ Last_name)

10

In [44]:
print('abc' +123)

TypeError: can only concatenate str (not "int") to str

In [45]:
a = 10
type(a)

int

In [46]:
str(a) #Now this int type become string

'10'

In [47]:
print("The number is " + str(a))

The number is 10

In [49]:
a=str(a) #original value

In [50]:
print("The number is " + a)

The number is 10

In [51]:
name = 'Ali'
age = 25
print("My name is name and my age is age")

My name is name and my age is age

In [54]:
print("My name is " + name + "and my age is" + str(age))

My name is Aliand my age is25

# Format

In [55]:
name = 'ali'
age = 25
print('My name is {} and my age is {}'.format(name,age))

My name is ali and my age is 25

In [56]:
print('My name is {0} and my age is {1}'.format(name,age)) #index always starts fro 0

My name is ali and my age is 25

In [59]:
print('My name is {0} and my age is {1}.My name is {0} and my age is {1}'.format(name,age))

My name is ali and my age is 25.My name is ali and my age is 25

In [60]:
print(f'My name is {name} and my age is {age}')

My name is ali and my age is 25

In [61]:
name = 'ali'
age = 25
print(f'My name is {name} and my age is {age}')

My name is ali and my age is 25

# list

In [3]:
students=["asad",'iqra','aisha','fatima']
#index      0      1      2        3

In [4]:
students[1]

'iqra'

In [7]:
students[0]

'asad'

In [8]:
type(students)

list

In [15]:
newlist=[]

In [16]:
newlist.append(23)
newlist

[23]

In [17]:
newlist.append(299)
newlist

[23, 299]

In [26]:
newlist.append(499)
newlist

IndexError: list assignment index out of range

In [29]:
del newlist.append[2]
newlist

TypeError: 'builtin_function_or_method' object does not support item deletion

In [34]:
newlist.insert(1, 'iqraa') #to check signature shift + tab
newlist

['iqra', 'iqra', 'asad']

In [32]:
newlist.insert(29, 'asad')  #agar index mojud nh hoga toh woh last mai dal de gha
newlist

['iqra', 'asad']

In [33]:
newlist.index('asad')

1

In [35]:
newlist.remove('asad')
newlist

['iqra', 'iqra']

In [36]:
cities = ['karachi','lahore','peshawar','quetta']

In [39]:
cities.append('karachi')
cities

['karachi', 'lahore', 'quetta', 'karachi']

In [43]:
cities.remove('karachi') #pass by value
cities

['lahore', 'quetta']

In [44]:
marks = [46, 3, 78, 33, 89, 99, 23]

In [45]:
marks.sort()
marks

[3, 23, 33, 46, 78, 89, 99]

In [47]:
marks.sort(reverse=True) #to sort list in descending order
marks

[99, 89, 78, 46, 33, 23, 3]

In [50]:
cities = ['karachi','lahore','peshawar','quetta','a']

In [51]:
cities.sort()
cities

['a', 'karachi', 'lahore', 'peshawar', 'quetta']

In [52]:
cities.sort(reverse=True)
cities

['quetta', 'peshawar', 'lahore', 'karachi', 'a']

In [53]:
students=['iqra',378,'aisha','karachi','a']

In [54]:
students.sort()
students

TypeError: '<' not supported between instances of 'int' and 'str'

In [55]:
marks

[99, 89, 78, 46, 33, 23, 3]

In [56]:
list2 = marks  
list2

[99, 89, 78, 46, 33, 23, 3]

In [57]:
del marks[2] #pass by refrence
list2

[99, 89, 46, 33, 23, 3]

In [58]:
list3 = list2.copy()

In [59]:
list3

[99, 89, 46, 33, 23, 3]

In [60]:
list2.append(499)
list3

[99, 89, 46, 33, 23, 3]

In [61]:
list2

[99, 89, 46, 33, 23, 3, 499]

In [62]:
list2.reverse()
list2

[499, 3, 23, 33, 46, 89, 99]

In [63]:
list2.clear()
list2

[]

In [64]:
numbers = [29, 67, 45, 3, 89, 90]

In [71]:
x = numbers.pop() # last vlaue x mai pehley insert hogyi
print(x)
print(numbers)

IndexError: pop from empty list

In [72]:
x

29

In [78]:
numbers = [29, 67, 45, 3, 89, 90] #bohat sari values ko x mai enter krwane ke liye list bnatey hain

In [75]:
poppedlist = []

In [85]:
poppedElement = numbers.pop()
poppedlist.append(poppedElement)
print(numbers)
print(poppedlist)

IndexError: pop from empty list

In [87]:
if len(numbers) != 0:
    poppedList.append(numbers.pop())
    print(poppedlist)
else:
    print('Your list is empty')

Your list is empty

In [88]:
list3 = [46, 89, 26, 3, 90]

In [90]:
len(list3)  #to find length of a list

5

# List In List

In [92]:
list4 = [19, 89, ['apple','banana','orange']]
list4

[19, 89, ['apple', 'banana', 'orange']]

In [93]:
list4[2] [2]

'orange'

In [95]:
fruits = ['mango', 'peach','banana', 'pineapple']
fruits

['mango', 'peach', 'banana', 'pineapple']

In [96]:
students

['iqra', 378, 'aisha', 'karachi', 'a']

In [99]:
abc = [23, 89, 3, students, fruits, 'abcd']
abc

[23,
 89,
 3,
 ['iqra', 378, 'aisha', 'karachi', 'a'],
 ['mango', 'peach', 'banana', 'pineapple'],
 'abcd']

In [108]:
fruits.remove('pineapple')
fruits

['mango', 'peach', 'banana']

In [110]:
abc = [23, 89, 3, students, fruits, 'abcd']
abc

[23,
 89,
 3,
 ['iqra', 378, 'aisha', 'karachi', 'a'],
 ['mango', 'peach', 'banana'],
 'abcd']

In [111]:
abc[4].remove('mango')
abc

[23,
 89,
 3,
 ['iqra', 378, 'aisha', 'karachi', 'a'],
 ['peach', 'banana'],
 'abcd']

In [122]:
students

['iqra', 378, 'aisha', 'karachi', 'a']

In [121]:
fruits = ['mango', 'peach','banana', 'pineapple']
fruits

['mango', 'peach', 'banana', 'pineapple']

In [123]:
abc = [23, 89, 3, students, fruits, 'abcd']
abc

[23,
 89,
 3,
 ['iqra', 378, 'aisha', 'karachi', 'a'],
 ['mango', 'peach', 'banana', 'pineapple'],
 'abcd']

In [124]:
del abc[3][3]
abc

[23,
 89,
 3,
 ['iqra', 378, 'aisha', 'a'],
 ['mango', 'peach', 'banana', 'pineapple'],
 'abcd']

#

# Slicing

In [4]:
#index    -6   -5 -4  -3 -2  -1
numbers = [29, 67, 45, 3, 89, 90, 4, 23, 56, 4] #Continuous honi chaiye  when we do slicing the thing which receive is copy bn ke values milti hai n-1
#index      0  1    2  3  4   5

In [127]:
numbers[-3]

3

In [128]:
numbers[-5]

67

In [129]:
numbers[1:3]     #[included: not included ek kam milegha ]

[67, 45]

In [132]:
numbers[1:5:2]     #[included: not included ek kam milegha ]

[67, 3]

In [137]:
print(numbers) # default hai 2 steps lengey
numbers[0:10:2] #because last value 2 hai

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[29, 45, 89, 4, 56]

In [139]:
numbers[3:]

[3, 89, 90, 4, 23, 56, 4]

In [140]:
numbers[::2]

[29, 45, 89, 4, 56]

In [141]:
numbers[7:3] #slicing krtey waqt slicing pr kabhi error generate mh hoga just empty dega

[]

In [146]:
numbers[3:7]

[3, 89, 90, 4]

In [143]:
numbers[-5:-1] #left to right hogyi

[90, 4, 23, 56]

In [144]:
numbers[-1:-5] #right to left nh hogyi

[]

In [145]:
numbers[-1:-8:-1] #right to left bhi hogayi negative steps ki waja se

[4, 56, 23, 4, 90, 89, 3]

# Tuples

In [ ]:
#difference tupples jitne bhi hain change  h hosaktey value replace  nh hosakti na append na nsert na delete change ho hi h skta tupples are immutable

In [2]:
mytupple=(3,4,5,6,7)

In [4]:
type(mytupple)

tuple

In [5]:
len(mytupple)

5

In [9]:
del mytupple[0]

TypeError: 'tuple' object doesn't support item deletion

In [7]:
mytupple[4] #slicing jesi haum ne list mai apply ki hai woh tamam rule in mai apply ho jayein gein

7

In [10]:
mytupple[2:4]

(5, 6)

In [11]:
#all slicing rules of list are also applied to tupples at

In [12]:
#packing and unpacking in list and tupples

In [1]:
a = ("iqra", "alveena", "huda", "aiman")
#Packing

In [36]:
w,x,y,z = a

ValueError: not enough values to unpack (expected 4, got 2)

In [16]:
w

'iqra'

In [17]:
x

'zehra'

In [18]:
y

'huda'

In [19]:
z

'aiman'

In [21]:
a = [100,99]

In [22]:
y,z = a

In [23]:
y

100

In [24]:
z

99

In [25]:
a = [100,99]

In [26]:
rectangle=[100,200]

In [27]:
height, width = rectangle

In [28]:
height

100

In [29]:
width

200

# For loops

In [37]:
#task : print your name ten times

In [39]:
for i in range(10):
    print(i,"Iqra Anwar")

0 Iqra Anwar
1 Iqra Anwar
2 Iqra Anwar
3 Iqra Anwar
4 Iqra Anwar
5 Iqra Anwar
6 Iqra Anwar
7 Iqra Anwar
8 Iqra Anwar
9 Iqra Anwar

In [41]:
num = int(input("Enter a number : "))

Enter a number : 5

In [44]:
for i in range(num):
    print(i,"Iqra Anwar")

0 Iqra Anwar
1 Iqra Anwar
2 Iqra Anwar
3 Iqra Anwar
4 Iqra Anwar

In [46]:
for i in range(2,5):
    print(i,"Iqra Anwar")

2 Iqra Anwar
3 Iqra Anwar
4 Iqra Anwar

In [47]:
for i in range(1,10,2):   #3 parameter step hota hai
    print(i,"Iqra Anwar")

1 Iqra Anwar
3 Iqra Anwar
5 Iqra Anwar
7 Iqra Anwar
9 Iqra Anwar

In [48]:
for i in range(0,10,2):       #(start, end-1, step)
    print(i,"Iqra Anwar")

0 Iqra Anwar
2 Iqra Anwar
4 Iqra Anwar
6 Iqra Anwar
8 Iqra Anwar

In [51]:
for i in range(10,1,-2):
    print(i,"Iqra Anwar")

10 Iqra Anwar
8 Iqra Anwar
6 Iqra Anwar
4 Iqra Anwar
2 Iqra Anwar

In [52]:
for i in range(10,1,-1):
    print(i,"Iqra Anwar")

10 Iqra Anwar
9 Iqra Anwar
8 Iqra Anwar
7 Iqra Anwar
6 Iqra Anwar
5 Iqra Anwar
4 Iqra Anwar
3 Iqra Anwar
2 Iqra Anwar

In [55]:
for i in range(0,10,2):
    print(i,"Iqra Anwar")

0 Iqra Anwar
2 Iqra Anwar
4 Iqra Anwar
6 Iqra Anwar
8 Iqra Anwar

In [56]:
for i in range(10,1,-1):
    print(i,"Iqra Anwar")

10 Iqra Anwar
9 Iqra Anwar
8 Iqra Anwar
7 Iqra Anwar
6 Iqra Anwar
5 Iqra Anwar
4 Iqra Anwar
3 Iqra Anwar
2 Iqra Anwar

In [1]:
num = int(input("Sum of numbers : "))

Sum of numbers : 5

In [4]:
i=0
res=0

In [6]:
for i in range(num):
    res=res+i
    i=i+1
    
print("SUm of Number is {}".format(res))

SUm of Number is 20

In [8]:
my_list = ["iqra" , "huda", "zehra"]
for i in my_list:
    print(i)

iqra
huda
zehra

In [15]:
my_num = [2,4,5,8,10]
for i in my_num:
    print(i * 2)

4
8
10
16
20

In [16]:
my_num = [2,4,5,8,10]
my_new_list = []
for i in my_num:
   my_new_list.append(i * 2)
print(my_new_list)

[4, 8, 10, 16, 20]

In [19]:
for i in range(21):
    print(i)
    if i == 20:
        print(i * 2)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
40

In [20]:
#Break
#Continue
#Pass

In [22]:
for i in range (9):
    if i == 3:
        break
    print(i)

0
1
2

In [23]:
for i in range (9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [24]:
for i in range (9):
    if i == 3:
        pass
    print(i)

0
1
2
3
4
5
6
7
8

In [25]:
for i in range (9):
    pass

In [26]:
#Take input from user and print the table of that number in proper format

In [27]:
num = int(input("Enter a number : "))

Enter a number : 5

In [33]:
for i in range(1,11):
    print("{} x {} = {}".format(num,i,num*i))
    i=i+1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [34]:
for a in "Pakistan":
    print(a)

P
a
k
i
s
t
a
n

In [41]:
for a in "Pakistan":
    for b in range(5):
        print(a , b)

P 0
P 1
P 2
P 3
P 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [48]:
f_name = ["Iqra", "Zehra", "Alveena", "aimen", "huda"]
l_name = ["Anwar", "Riaz", "Ashraf", "Sheikh", "Rauf"]
full_name=[]
for f in f_name:
    for l in l_name:
        full_name.append(f + " " + l )
full_name

['Iqra Anwar',
 'Iqra Riaz',
 'Iqra Ashraf',
 'Iqra Sheikh',
 'Iqra Rauf',
 'Zehra Anwar',
 'Zehra Riaz',
 'Zehra Ashraf',
 'Zehra Sheikh',
 'Zehra Rauf',
 'Alveena Anwar',
 'Alveena Riaz',
 'Alveena Ashraf',
 'Alveena Sheikh',
 'Alveena Rauf',
 'aimen Anwar',
 'aimen Riaz',
 'aimen Ashraf',
 'aimen Sheikh',
 'aimen Rauf',
 'huda Anwar',
 'huda Riaz',
 'huda Ashraf',
 'huda Sheikh',
 'huda Rauf']

In [53]:
#changing case:

In [54]:
"pakistan".upper()

'PAKISTAN'

In [55]:
"PAKISTAN".lower()

'pakistan'

In [56]:
sl_str = 'PAKISTAN ZINDABAD'
len(sl_str)

17

In [57]:
sl_str[5:11]

'TAN ZI'

In [58]:
sl_str[5:]

'TAN ZINDABAD'

In [60]:
sl_str[0:17]

'PAKISTAN ZINDABAD'

# Dictionaries

# dictionary works on key value pair

In [63]:
#Definition
adict = {}

In [64]:
type(adict)

dict

In [65]:
len(adict)

0

In [79]:
bDict = {"city":"Khi","pop":"30M",'city':"lahore"}
#       Key     Val    key   val
bDict

{'city': 'lahore', 'pop': '30M'}

In [77]:
bDict["Helo"] = 12333333333
bDict[100]="hundred"
bDict

{'city': 'Khi', 'pop': '30M', 'Helo': 12333333333, 100: 'hundred'}

In [69]:
#adding values to a dictionary
adict['name'] = "Iqra Anwar"
adict['age'] = 18
adict['cntact'] = "0312456789"

In [70]:
adict

{'name': 'Iqra Anwar', 'age': 18, 'cntact': '0312456789'}

In [71]:
adict["age"]

18

In [72]:
del adict["age"]

In [73]:
adict

{'name': 'Iqra Anwar', 'cntact': '0312456789'}

In [80]:
adict['age'] = 18
adict

{'name': 'Iqra Anwar', 'cntact': '0312456789', 'age': 18}

In [81]:
#keys()
#Values()
#items() for loop

In [82]:
for i in adict.keys():
    print(i)

name
cntact
age

In [84]:
for a in adict.values():
    print(a)

Iqra Anwar
0312456789
18

In [85]:
for j in adict.items():
    print(j)

('name', 'Iqra Anwar')
('cntact', '0312456789')
('age', 18)

In [86]:
for k,v in adict.items():
    print(k,v)

name Iqra Anwar
cntact 0312456789
age 18

# 34 - Creating a list of dictionaries

In [88]:
eklist = [23,45,6,{"fruit":"mango", "food":"biryani"}]

In [89]:
eklist[3]

{'fruit': 'mango', 'food': 'biryani'}

In [90]:
eklist[3]['food']

'biryani'

In [91]:
"age" in adict

True

In [1]:
a = [ {1: 100},{2: 200},{3: 300}]

In [2]:
a

[{1: 100}, {2: 200}, {3: 300}]

In [3]:
a[2]

{3: 300}

In [4]:
a[1][2]

200

In [7]:
d={'names':['iqra','huda','aiman',], 'ages':[23,34,45,100]} #

In [8]:
d['names'][2]

'aiman'

# Functions

In [9]:
# we use functions for reuseability of code

In [ ]:
abc = [1, 5, 8, 6, 78, 25, 36]

In [12]:
def add_two_numbers():
    a=12
    b=34
    c=a+b
    print(c)

In [14]:
add_two_numbers()

46

In [15]:
#function definition
def funcName():
    print(" I am a Function")

In [16]:
#function calling
funcName() #if we want 100 of time we will definately do that

 I am a Function

In [17]:
def Multi_two_numbers():
    a=2
    b=2
    c=a*b
    print(c)

In [18]:
Multi_two_numbers()

4

In [19]:
def greeting(name): #parameter of functions
    'it is a parameterised function'
    print(f" you are welcome {name}")

In [20]:
greeting("iqra") #argument value pass ki jati hai

 you are welcome iqra

In [30]:
def sum(a,b):
    c=a+b
    print(c)

In [31]:
sum(5,6)

11

In [32]:
sum(8,9)

17

In [35]:
def fullname(firstName, LastName):
    #fullName = first + lastname
    fullName = f"{firstName} {LastName}" 
    print(fullName)

In [38]:
fullname('iqra','anwar')  #positional argument

iqra anwar

In [39]:
#keyword argument

In [40]:
fullname(firstName ='iqra', LastName = 'anwar')

iqra anwar

In [41]:
#default parameter

In [48]:
def fullname(firstName, LastName):
    #fullName = first + lastname
    fullName = f"{firstName} {LastName}" 
    print(fullName)

In [50]:
fullname('iqra',' ') #if we donot have any middle name and last so we just give space or space dedein

iqra

In [62]:
#local variable  =====>     scope====>within func
#global variable ===>      scope =======> every where in the fuction

In [77]:
def sub(u,v):
    w= u/v
    return w, "hello world"

In [79]:
res=sub(200,100)
print(res)

(2.0, 'hello world')

In [86]:
def sub(u,v):
    global q
    q= "i am a local global"
    w= u-v
    return w
print(sub(15,4),q)

11 i am a local global

# Key Word Arguments args, kwargs

In [1]:
def car(model, year):
    print(model, year)

In [2]:
car("mercedes",2018)

mercedes 2018

In [3]:
car(2019, "toyota") #parameter mai value assign krdein takein agar values agey peechey bhi hon toh woh uski jaga pr isey de gha

2019 toyota

In [4]:
car(year=2018, model="toyota")

toyota 2018

In [7]:
def name(fname, lname):
    print(f"First name : {fname}")
    print(f"Last name : {lname}")

In [8]:
name("Iqra","Anwar")

First name : Iqra
Last name : Anwar

In [9]:
name(lname='anwar', fname='iqra') #global=outside the function   local=inside the function

First name : iqra
Last name : anwar

In [16]:
def name(fname, lname, mname):
    print(f"First name : {fname}")
    print(f"Middle name : {mname}")
    print(f"Last name : {lname}")

In [17]:
name("iqra","anwar", mname="muhammad")       #keyword use nh kia positional hogya keyword is mname here

First name : iqra
Middle name : muhammad
Last name : anwar

# Arbitary Number of Arguments

In [21]:
def pizza(size, flavour, *topping): #if we do not know the exact values of arguments so we usee arbitary number of arguments * symbol ek se kai zyada value apne pas receive krskta hai
    print(size,flavour)
    print(topping)

In [24]:
pizza('large','BarBQ', 'extra cheese', 'olives', 'jalapenoes','alpenos','mushrooms','capcicum' ) #data type =tupple' list modify hogati hai tupple modify nh hota

large BarBQ
('extra cheese', 'olives', 'jalapenoes', 'alpenos', 'mushrooms', 'capcicum')

In [25]:
def car(make, model, **specs):
    print(make,model)
    print(specs)

In [27]:
car("BMW", "prius", transmission = "Automatic", power="yes") #** data type = 'dictionaries'

BMW prius
{'transmission': 'Automatic', 'power': 'yes'}

# Function as Variables

In [47]:
def add(a, b):
    c = a + b
   #return c

In [40]:
def sub(a, b):
    c = a - b
    return c

In [41]:
result = add(2,2) + sub(6,3)
print(result)

7

In [42]:
def multiply(x, y):
    v = x * y
    return v

In [43]:
def divide(x, y):
    v = x // y
    return v

In [44]:
result = multiply(7, 8) + divide(4, 2)
print(result)

58

In [48]:
result = add ('iqra' ,' anwar')   
print(result)

None

# While loop

In [52]:
a=0

while a<10:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [56]:
topping = []
for a in range (5):
    toppings = input("Enter a topping : ")
    topping.append(toppings)
print(topping)

Enter a topping : abc
Enter a topping : bcd
['abc', 'bcd']

In [1]:
toppings = []
flag = True
while flag:
    topping = input("Enter a toppings : ")
    toppings.append(topping)
    if topping == 'q':
        flag = False
print(toppings)

Enter a toppings : a
Enter a toppings : b
Enter a toppings : c
Enter a toppings : q
['a', 'b', 'c', 'q']

In [16]:
toppings = []
flag = True
while flag:
    topping = input("Enter a toppings : ")
    toppings.append(topping)
    if topping == 'q':
        flag = False
    else:
        toppings.append(topping)
    
print(toppings)

Enter a toppings : q
['q']

In [ ]:
available_flavours = ["Chicken Alfredo", "BarBq","Chicken Tikka"]
avaliable_size = ["large", "medium", "small"]
avaliable_toppings=["olives","cheese","mushrooms"]
print("Pizza Orders")
flag = True
while flag:
    size = input("Enter pizza size : ")
    if size not in avaliable_size:
        print(f"{size} not available !!")
        flag = False
    if size in avaliable_size:
        size = input("Enter pizza size again :")
        flag = False

Pizza Orders
Enter pizza size : large

In [4]:
x,y=0,1

while y<50:
    print(y)
    x,y=y,x+y

1
1
2
3
5
8
13
21
34

# Classes

In [2]:
#Everything is an object (instance) template of an object is known as class. Every copy of any object is an class. Object apne template ka wesa ka wesa copy hogha.object hu bahu apni class ka copy hota hai.
#Rules of class and pattern:
#Evey object will be form in a same pattern. 
#Size volt weight everything will be the same.
#PROPERTIES:
#Class help us to standarize and organize information.
#Class have two properties one is attributes and second one is behaviour.

In [117]:
class Mobile():
    #atrributes >>>>>>>>>>>>Variables
    def __init__(self,brand,color,memory,ram,price="free"):
        self.mobilebrand = brand
        self.mobilecolor = color
        self.mobileprice = price
        self.mobilememory = memory
        self.mobileram = ram
    #behaviours >>>>>>>>>>>>>> Functions
    def makeCall(self): #we have to decide a general names
        print(f"{self.mobilebrand} mobile is dailing")
    def recCall(self):
        print(f"{self.mobilebrand}Mobile is recievig a call")
    def sendMessage(self):
        print(f"{self.mobilebrand}Mobile is sending a message")
    def recMessage(self):
        print(f"{self.mobilebrand}Mobile is recieving a message")
    def pressKeyPad(self):
        print("Keypad is pressed to dial a number or message")

In [118]:
mobile1 = Mobile("Nokia", "black" ,10000,"16Gb", "2Gb")

In [119]:
mobile2 = Mobile("Samsung", "Blue", 10000, "16Gb", "2Gb" )

In [120]:
mobile1.makeCall()

Nokia mobile is dailing

In [121]:
mobile2.makeCall()

Samsung mobile is dailing

In [122]:
mobile1.mobilecolor

'black'

In [123]:
mobile1.makeCall()

Nokia mobile is dailing

In [124]:
mobile1.sendMessage()

NokiaMobile is sending a message

In [125]:
mobile2.makeCall()

Samsung mobile is dailing

In [126]:
class Student():
    def __init__(self,name,gender,course,email):
        self.name = name
        self.gender =gender
        self.course =course
        self.email = email
        self.GPA = 0
    def getGPA(self):
        print(f"The GPA of {self.name} is {self.GPA}")
    def setGPA(self,newGPA):
        print(f"The GPA of {self.name} is {self.GPA}")
        self.GPA = newGPA
         
        
    def study(self):
        print(f"{self.name} is studying")
    def exam(self):
        print(f"{self.name} is appearing in exam")
    def submitAssignment(self):
        print("f{self.name} is submitting assignment")

In [127]:
s1 = Student("Iqra", "F", "AI", "iqra.anwar@gmail.com")

In [128]:
s2 = Student("Huda", "F", "AI", "huda.rauf@gmail.com")

In [129]:
s1.name

'Iqra'

In [130]:
s2.name

'Huda'

In [131]:
s2.email

'huda.rauf@gmail.com'

In [132]:
s1.exam()

Iqra is appearing in exam

In [133]:
s1.GPA

0

In [134]:
s2.GPA = 3.2

In [135]:
s2.GPA

3.2

# updating a value of attribute VIA function

In [136]:
s1.GPA

0

In [137]:
s1.getGPA()

The GPA of Iqra is 0

In [138]:
s1.setGPA(4)

The GPA of Iqra is 0

In [139]:
s1.getGPA()

The GPA of Iqra is 4

# Inheritance

In [140]:
#Inheritance work is code reuseability

In [142]:
class SmartMobile(Mobile):
    def __init__(self,brand,color,price,memory,ram):
        super(). __init__(brand,color,price,memory,ram)
        self.battery = "10amp"
    def camera(self):
        print("Smart Camera is ON")
        
    def pressKeyPad(self):
        print("There is no keypad in smartphone")

In [144]:
sml = SmartMobile("Nokia", "black", 5000, "32GB", "2GB")

In [145]:
sml.pressKeyPad()

Keypad is pressed to dial a number or message

In [29]:
class Battery():
    def __init__(self,manu,amp,warranty,price,size):
        self.a=manu = manu
        self.amp = amp
        self.warranty = warranty
        self.price = price
        self.size = size
    def getBattery(self):
        print(f"The battery size is {self.size}")
    def setBattery(self, newsize):
        self.size = newsize

In [38]:
class car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.battery = Battery(20000, 20)
        # use of an object is an attribute
    def descCar(self):
        print(f"Description:{self.make} & {self.model} & {self.year}")

In [31]:
class ElectricCar(car):
    pass

In [32]:
eCar1 = ElectricCar("CIVIC", "MyCar", 2019)

In [33]:
eCar1.descCar()

Description:CIVIC & MyCar & 2019

In [34]:
eCar1.year

2019

In [39]:
eCar1.battery.getBattery()

The battery size is 20

# Data Files Read And Write

In [41]:
with open("abc.txt", "w") as file: #kisi variable ka naam change kr ke uska nicknamerakh deta hai file here is handler.
    file.write("I am writing this fle for the first time")

In [47]:
with open("empty.txt", "w") as file: #kisi variable ka naam change kr ke uska nicknamerakh deta hai file here is handler.
    file.write("I am writing this fle for the first time")

In [45]:
with open("empty.txt", "w") as file: #kisi variable ka naam change kr ke uska nicknamerakh deta hai file here is handler.
    file.write("I am writing this fle for the second time")
    file.write("\nThis will not be over write")

In [46]:
with open("SBSA(07072019).ipynb", "r") as file:
    content  = file.read()
print(content)

{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# args, kwargs"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "metadata": {},
   "outputs": [],
   "source": [
    "def car(model, year):\n",
    "    print(model, year)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "corolla 2019\n"
     ]
    }
   ],
   "source": [
    "car('corolla', 2019)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "2019 toyota\n"
     ]
    }
   ],
   "source": [
    "car(2019, 'toyota')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "toyota 2018\n"
     ]
    }
   ],
   "source": [
    "car(year=2018,model='toyota')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "metadata": {},
   "outputs": [],
   "source": [
    "def name(fname,lname):\n",
    "    print(f'first name: {fname}')\n",
    "    print(f'last name: {lname}')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "first name: hussain\n",
      "last name: ali\n"
     ]
    }
   ],
   "source": [
    "name('hussain', 'ali')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "first name: ali\n",
      "last name: hussain\n"
     ]
    }
   ],
   "source": [
    "name(fname='ali', lname='hussain')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "first name: ali\n",
      "last name: hussain\n"
     ]
    }
   ],
   "source": [
    "name(lname='hussain', fname='ali')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "metadata": {},
   "outputs": [],
   "source": [
    "def name(fname,mname,lname):\n",
    "    print(f'first name: {fname}')\n",
    "    print(f'middle name: {mname}')\n",
    "    print(f'last name: {lname}')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "metadata": {},
   "outputs": [
    {
     "ename": "SyntaxError",
     "evalue": "positional argument follows keyword argument (<ipython-input-13-3d3442698754>, line 1)",
     "output_type": "error",
     "traceback": [
      "\u001b[0;36m  File \u001b[0;32m\"<ipython-input-13-3d3442698754>\"\u001b[0;36m, line \u001b[0;32m1\u001b[0m\n\u001b[0;31m    name('John',mname='Walten','Smith')\u001b[0m\n\u001b[0m                              ^\u001b[0m\n\u001b[0;31mSyntaxError\u001b[0m\u001b[0;31m:\u001b[0m positional argument follows keyword argument\n"
     ]
    }
   ],
   "source": [
    "name('John',mname='Walten','Smith')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "metadata": {},
   "outputs": [],
   "source": [
    "def name(fname,lname,mname):\n",
    "    print(f'first name: {fname}')\n",
    "    print(f'middle name: {mname}')\n",
    "    print(f'last name: {lname}')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "first name: John\n",
      "middle name: Walten\n",
      "last name: Smith\n"
     ]
    }
   ],
   "source": [
    "name('John', 'Smith', mname='Walten')"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Arbitary Number of Arguments"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "metadata": {},
   "outputs": [],
   "source": [
    "def pizza(size, flavour, *toppings):\n",
    "    print(size, flavour)\n",
    "    print(toppings)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "large chiken tikka\n",
      "('extra cheese', 'olives', 'Jalapenoes')\n"
     ]
    }
   ],
   "source": [
    "pizza('large', 'chiken tikka', 'extra cheese', 'olives', 'Jalapenoes')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "large chiken tikka\n",
      "('extra cheese',)\n"
     ]
    }
   ],
   "source": [
    "pizza('large', 'chiken tikka', 'extra cheese')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "metadata": {},
   "outputs": [],
   "source": [
    "def car(make, model, **specs):\n",
    "    print(make, model)\n",
    "    print(specs)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "toyota prius\n",
      "{'transmission': 'Automatic'}\n"
     ]
    }
   ],
   "source": [
    "car('toyota', 'prius', transmission = 'Automatic')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "toyota prius\n",
      "{'transmission': 'Automatic', 'power': 'Yes'}\n"
     ]
    }
   ],
   "source": [
    "car('toyota', 'prius', transmission = 'Automatic', power = 'Yes')"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Functions as a Variable"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "metadata": {},
   "outputs": [],
   "source": [
    "def add(a, b):\n",
    "    c = a + b\n",
    "    return c"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 37,
   "metadata": {},
   "outputs": [],
   "source": [
    "def sub(a, b):\n",
    "    c = a - b\n",
    "    return c"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "metadata": {},
   "outputs": [],
   "source": [
    "result = add(2,2) + sub(6,3)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "7\n"
     ]
    }
   ],
   "source": [
    "print(result)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "nasirhussain\n"
     ]
    }
   ],
   "source": [
    "result = add('nasir','hussain')\n",
    "print(result)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# While Loop"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 43,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "10\n",
      "8\n",
      "6\n",
      "4\n",
      "2\n"
     ]
    }
   ],
   "source": [
    "for a in range(10, 0, -2):\n",
    "    print(a)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 42,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "0\n",
      "1\n",
      "2\n",
      "3\n",
      "4\n",
      "5\n",
      "6\n",
      "7\n",
      "8\n",
      "9\n"
     ]
    }
   ],
   "source": [
    "a = 0\n",
    "\n",
    "while a<10:\n",
    "    print(a)\n",
    "    a= a+1"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": 45,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Enter a toppingabc\n",
      "Enter a toppingz\n",
      "Enter a toppings\n",
      "Enter a toppings\n",
      "Enter a toppingd\n",
      "['abc', 'z', 's', 's', 'd']\n"
     ]
    }
   ],
   "source": [
    "topping = []\n",
    "for a in range(5):\n",
    "    toppings = input('Enter a topping')\n",
    "    topping.append(toppings)\n",
    "    \n",
    "print(topping)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 46,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Enter a toppingav\n",
      "Enter a toppingdbv\n",
      "Enter a toppingabc\n",
      "Enter a toppingdfg\n",
      "Enter a toppinglk\n",
      "Enter a toppingp\n",
      "Enter a toppingasd\n",
      "Enter a toppinggty\n",
      "Enter a toppingcvb\n",
      "Enter a toppingq\n",
      "['av', 'dbv', 'abc', 'dfg', 'lk', 'p', 'asd', 'gty', 'cvb', 'q']\n"
     ]
    }
   ],
   "source": [
    "toppings = []\n",
    "flag = True\n",
    "\n",
    "while flag:\n",
    "    topping = input('Enter a topping')\n",
    "    toppings.append(topping)\n",
    "    if topping == 'q':\n",
    "        flag = False\n",
    "\n",
    "print(toppings)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Enter a toppingwe\n",
      "Enter a toppingty\n",
      "Enter a toppingq\n",
      "['we', 'ty']\n"
     ]
    }
   ],
   "source": [
    "toppings = []\n",
    "flag = True\n",
    "\n",
    "while flag:\n",
    "    \n",
    "    topping = input('Enter a topping')\n",
    "    if topping == 'q':\n",
    "        flag = False\n",
    "    else:\n",
    "        toppings.append(topping)\n",
    "    \n",
    "    \n",
    "\n",
    "print(toppings)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Pizza Order\n",
      "\n",
      "\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza sizelarge\n",
      "plz enter the size again\n",
      "Enter pizza sizesmall\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n",
      "Enter pizza size\n",
      " not available\n",
      "['large', 'medium', 'small']\n"
     ]
    }
   ],
   "source": [
    "availableFlavours = [\"Fjita\", \"Tikka\", \"Mexican\"]\n",
    "availableSize =[\"large\", 'medium','small']\n",
    "availableToppings=['Olives', 'Chesse','Hurbs']\n",
    "print(\"Pizza Order\")\n",
    "print()\n",
    "print()\n",
    "flag = True\n",
    "while flag:\n",
    "    print(availableSize)\n",
    "    size = input(\"Enter pizza size\")\n",
    "    if size not in availableSize:\n",
    "        print(f\"{size} not available\")\n",
    "        flag = True\n",
    "    if size in availableSize:\n",
    "        print(\"plz enter the size again\")\n",
    "        size = input(\"Enter pizza size\")\n",
    "    \n",
    "        \n",
    "\n",
    "\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "\n"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.3"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}

In [50]:
with open("empty.txt", "a") as f:
    f.write("\nTHis is an append  file")

In [52]:
with open("myTextFile.text", "r+") as f:
    f.write("this is a r+ mode")
    content = f.read()
    print(content)

In [56]:
with open("afile.txt", "w+") as file:
    file.write("Pakistan")
    file.seek(0)
    content = file.read()
    print(content)

Pakistan